.selectContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.label {

}

.select {
    padding: 5px 2px;
    border-radius: 5px;
    border: 2px solid var(--blue-dark);
    font-size: 1rem;
    height: 35px;
    cursor: pointer;
}

.select:focus {
    outline: none;
}

@media(min-width: 600px) {
    .select {
        height: 40px;
    }
}

@media(min-width: 992px) {
    .label {
        font-size: 1.1rem;
    }
    
    .select {
        font-size: 1.2rem;
        width: 48.5%;
    }
}