.playerContainer {
    background-color: var(--black-light);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    text-align: center;
    color: aliceblue;
    padding: 20px 10px;
}

.videoTitulo {

}

.video,
.videoDescripcion {
    width: 90%;
}

@media(min-width: 600px) {
    .playerContainer {
        padding: 50px 10px;
    }

    .videoTitulo {
        font-size: 1.8rem;
        width: 70%;
    }

    .videoDescripcion {
        font-size: 1.2rem;
    }
}

@media(min-width: 992px) {
    .playerContainer {
        padding: 50px 10px;
    }

    .videoTitulo {
        font-size: 2rem;
        width: 60%;
    }

    .videoDescripcion {
        font-size: 1.3rem;
        width: 60%;
    }
}