.bannerNoVideo {
    height: 200px;
    background-color: var(--blue-dark);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerNoVideo > h1 {
    width: 80%;
    text-align: center;
}

.banner {
    display: flex;
    min-height: 500px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--blue-dark);
    padding: 30px 20px;
    gap: 30px;
}

.textContainer {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.textContainer > h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: auto;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 0 20px;
}

.textContainer > h2,
.textContainer > p {
    color: antiquewhite;
}

.imgContainer {
    width: 70%;
    min-width: 250px;
    height: 200px;
}

.imgContainer > img {
    width: 100%;
    height: 100%;
    max-height: 300px;
    border-radius: 25px;
}

@media(min-width: 600px) {
    .textContainer > h2 {
        font-size: 1.7rem;
    }

    .textContainer > p {
        font-size: 1.1rem;
        font-weight: 100;
    }

    .textContainer > h2,
    .textContainer > p {
        width: 75%;
    }

    .imgContainer {
        width: 75%;
        max-width: 550px;
        height: auto;
        max-height: 300px;
    }
}